<h2 class="text-center my-4">Products</h2>

<div class="container">
  <div class="d-flex flex-row flex-wrap justify-content-center gap-4">
    <div *ngFor="let product of products" class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p>₹{{ product.price }}</p>
        <a class="btn btn-primary" [routerLink]="['product', product.id]">
          View Details
        </a>
      </div>
    </div>
  </div>
</div>
